@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: 1 0 0;
    --foreground: 0.145 0 0;
    --border: 0.922 0 0;
    --input: 0.922 0 0;
    --ring: 0.708 0 0;
  }

  .dark {
    --background: 0.145 0 0;
    --foreground: 0.985 0 0;
    --border: 1 0 0 / 10%;
    --input: 1 0 0 / 15%;
    --ring: 0.556 0 0;
  }

  * {
    border-color: oklch(var(--border));
  }

  body {
    @apply bg-background text-foreground;
  }
}
